        <br />
        <footer>
            <hr>
            CST336 Internet Programming. 2020&copy; Moon <br />
            <strong>Disclaimer:</strong> The information in this webpage is about WebGL programming for HW1 <br />
            It is used for academic purposes only. <br />
            <img src="/img/csumb-logo.png" alt="CSUMB Logo" />
        </footer>
    </body>
</html>