<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title> WebGL Programming </title>
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="js/functions.js"></script>
    </head>
    <body>
        <header>
            <h1> WebGL Programming </h1>
        </header>
        <nav class="nav-menu">
            <a class="current" href="/">Overview</a>
            <a href="/structure">Application Structure</a>
            <a href="/sample">Sample Code</a>
            <a href="/browsers">Supported Browsers</a>
        </nav>